@use 'sass:color';

// Here you can add other styles
$primary: rgb(45, 129, 30);

$theme-colors: (
  'primary': $primary,
);

// Estilos para la paginación
.custom-pagination {
  .page-item {
    .page-link {
      color: $primary !important; // Color del texto para elementos inactivos
      &:hover {
        color: color.adjust(
          $primary,
          $lightness: -10%
        ) !important; // Color del texto al pasar el ratón
      }
    }
    &.active .page-link {
      background-color: $primary !important;
      border-color: $primary !important;
      color: white !important; // Color del texto para el elemento activo
      &:hover {
        background-color: color.adjust($primary, $lightness: -10%) !important;
        border-color: color.adjust($primary, $lightness: -10%) !important;
      }
    }
  }
}
