$blue-sky: #4cb5f5;
$granite: #b7b8b6;
$pine: #34675c;
$fields: #b3c100;

$theme-colors: (
  'primary': $blue-sky,
  'info': $blue-sky,
  'secondary': $granite,
  'dark': $pine,
  'success': $fields,
);
